<nav>
  <ul>
    <li>
      <a
        [routerLinkActive]="'active'"
        [routerLink]="'/home'"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        [routerLinkActive]="'active'"
        [routerLink]="'/products'"
        [routerLinkActiveOptions]="{ exact: true }"
        >Products</a
      >
    </li>
    <li>
      <a
        [routerLinkActive]="'active'"
        [routerLink]="'/products/new'"
        [routerLinkActiveOptions]="{ exact: true }"
        >Create new product</a
      >
    </li>
  </ul>
</nav>
